{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
        <h1>Post n°{{ post.id }}</h1>

        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-uppercase">{{ post.title }}</h2>
                <p class="lead">{{ post.content|raw }}</p>
                <p><small>Published on {{ post.createdAt|date('F j, Y') }}</small></p>
            </div>
            </div>
        </div>

           {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
            <hr>
            <h4>Liste des commentaires</h4>
        {% for comment in post.comments %}
            <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                <div class="card mb-3">
                    <div class="card-body text-dark">
                    <p class="card-text">{{ comment.author|raw }}</p>
                    <p class="card-text">{{ comment.content|raw }}</p>
                    <p class="card-text"><small class="text-muted">Published on {{ comment.createdAt|date('F j, Y') }}</small></p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        {% endfor %}

        </header>
{% endblock %}
