{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block body %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <h2>Les derniers produits:</h2>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}">
                            <div class="card-body text-dark">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description|raw }}</p>
                                <a href="{{ path('app_front_catalogue_detail', {'id': product.id}) }}" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </header>
{% endblock %}
